* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

input[type="text"] {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

input[type="submit"] {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

form > span {
  display: block;
  color: #999;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
